<%= render ('layouts/header') %>

<section>

<div id="wrapper">
  <ul>

    <li><%= image_tag @kid.avatar.url(:medium) %></li>

  </ul>
</div>
  <p> Name: <%= @kid.name %>  </p>
  <hr style="color:#efefef">

  <p> Email: <%= @kid.email %></p>
  <p> Grade: <%= @kid.grade %></p>
  <p> Classroom: <%= @kid.classroom %></p>
  <p> DOB: <%= @kid.dob %></p>
  <p> Address:<br>
      <%= @kid.address %><br>
      <%= @kid.apt %><br>
      <%= @kid.city %><br>
      <%= @kid.state %><br>
      <%= @kid.zip %></p>
  <p> Home Phone: <%= @kid.home_phone %></p>
  <p> Work Phone: <%= @kid.work_phone %></p>
  <p> Parent: <%= @kid.parent %></p>
  <p> Allowed to Pickup: <%= @kid.pickup %></p>
  <p> Allergies: <%= @kid.allergies %></p>
  <p> Behavior Policies: <%= @kid.behavior_consent %></p>
  <p> Image Consent: <%= @kid.image_consent %></p>
  <p> Late Fee Policy: <%= @kid.late_consent %></p>
</div>


<%= link_to 'Edit', edit_kid_path(@kid) %>
<%= link_to 'Back', user_path(@user) %>
<%= link_to 'Remove', @kid, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs'%>

</section>


