<div class="container user-form">
  <h2 class="form-signin-heading">Create a New Account</h2>
  <div class="form-signin" role="form">
    <%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
    <div id="error_explanation">

        <%= pluralize(@user.errors.count, "error") %> <h3>prohibited this user from being saved:</h3>

      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li style="color: red"><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <div class="form-field">
      <p>
        <%= f.label :email %>
        <%= f.text_field :email, placeholder: 'Email (required)' %>
      </p>
    </div>

    <div class="form-field">
      <p>
        <%= f.label :name  %>
        <%= f.text_field :name, placeholder: 'Name (required)' %>
      </p>
    </div>

    <div class="form-field">
      <p>
        <%= f.label :password %>
        <%= f.password_field :password, placeholder: 'Password (required)' %>
      </p>
    </div>

    <div class="form-field">
      <p>
        <%= f.label :password_confirmation, 'Confirmation' %>
        <%= f.password_field :password_confirmation, placeholder: 'Confirmation (required)' %>
      </p>
    </div>

    <div class="form-field">
      <%= f.submit "Submit" %>
    </div>

  <% end %>
  </div>
</div>


