<div class="container user-form">
  <h2 class="form-signin-heading">Create a New Account</h2>
  <div class="form-signin" role="form">
    <%= simple_form_for(@user, html: {class: "form-horizontal"}) do |f| %>
    <% if @user.errors.any? %>
    <div id="error_explanation">

        <%= pluralize(@user.errors.count, "error") %> <h3>prohibited this user from being saved:</h3>

      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li style="color: red"><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>


    <%= f.input :email %>
    <%= f.input :name %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <br>

    <div class="form-actions">
      <%= f.button :submit, :Submit %>
    </div>

  <% end %>
  </div>
</div>


