<%= render 'layouts/header' %>

<section>

<div>

  <p> <span><%= @user.name %> </span> </p>
  <hr style="color:#efefef">

  <span> <%= @user.email %></span>

<%= link_to 'Edit', edit_user_path(@user) %>
<%= link_to 'Logout', sessions_path, method: :delete %>
<%= link_to 'Register', new_kid_path %>

</div>

</section>
